body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url(brooke-lark-08bOYnH_r_E-unsplash.jpg);
    background-size: cover;
}
h1{
    color:blue;
}
p{
    a{
        color: black;
    }
  
}

.top-element{
    color:blue;
    position:absolute;
    top:0;
    font-size: 100px;
    font-family:cursive;
}
