body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url(olu-famule-kYx_g4YBfLI-unsplash.jpg);
    background-size: cover;
}
p{
    a{
        color: black;
    }
  
}
